.hljs {
  width: 500px;
  padding: 12px;
  margin: 0;

  background-color: #f7fafc;
  box-shadow: 0 0 0 1px $gray-lightest;
  border-radius: 8px;
}

.hljs-code {
  font-size: 12px;
  font-family: $monospace-font;

  color: $gray;
}

.hljs-attr {
  font-family: $monospace-font;

  color: $gray;
}

.hljs-string {
  font-family: $monospace-font;

  color: $string-color;
}

.hljs-number {
  font-family: $monospace-font;

  color: $number-color;
}
