.rg-header-endpoint-list {
  width: 500px;
  margin-left: 20px;

  background-color: #f7fafc;
  box-shadow: 0 0 0 1px $gray-lightest;
  border-radius: 8px;
  overflow: hidden;
}

.rg-header-endpoint-list-title {
  padding: 8px 12px;

  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: $gray-lightest;
}

.rg-header-endpoint-list-body {
  padding: 0 12px;
}

.rg-header-endpoint-list-endpoint {
  display: block;
  margin: 8px 0;
}

.rg-header-endpoint-list-endpoint-method, .rg-header-endpoint-list-endpoint-path {
  font-size: 12px;
  font-family: Menlo, Consolas, monospace;
}

.rg-header-endpoint-list-endpoint-method {
  display: inline-block;
  width: 40px;
  margin-right: 12px;
}

.rg-header-endpoint-list-endpoint-method-get {
  color: $get-color;
}

.rg-header-endpoint-list-endpoint-method-post {
  color: $post-color;
}

.rg-header-endpoint-list-endpoint-method-put {
  color: $put-color;
}

.rg-header-endpoint-list-endpoint-method-delete {
  color: $delete-color;
}
