@import './descriptor/descriptor.scss';

.rg-endpoint {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 0;

  border-bottom: 1px solid $gray-lightest;

  &:last-child {
    border-bottom: 0;
  }
}

.rg-endpoint-details {
  flex: 1;
  margin-right: 60px;
}

.rg-endpoint-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .41px;
}

.rg-endpoint-right {
  margin-left: 20px;
}
