@import './description/description.scss';
@import './endpoint-list/endpoint-list.scss';
@import './title/title.scss';

.rg-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 60px;

  border-bottom: 1px solid $gray-lightest;
}
